.mobile {
  display: none;
}
@media screen and (max-width: 600px) {
  .mobile {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  }

  .mobile_opened {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    z-index: 5;
  }

  .mobile__container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color: black;
    color: #fff;
    gap: 10px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .mobile__container_bg-white {
    background-color: white;
    color: black;
  }

  .mobile__header {
    padding: 16px;
    border-bottom: solid 1px #d1d2d6;
    display: flex;
    justify-content: space-between;
  }

  .mobile__logo {
    padding: 0;
    width: 117px;
  }

  .mobile__close-btn {
    background-image: url("../../images/mobile-close.svg");
    border: none;
    width: 24px;
    height: 24px;
    background-color: transparent;
  }

  .mobile__close-btn_bg-white {
    background-image: url("../../images/mobile-close-bg-white.svg");
    border: none;
    width: 24px;
    height: 24px;
    background-color: transparent;
  }

  .mobile__list {
    padding: 16px;
  }

  .mobile__list-item {
    list-style-type: none;
    cursor: pointer;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0px;
    text-align: left;
  }

  .mobile__link {
    text-decoration: none;
    color: white;
  }

  .mobile__link_bg-white {
    color: black;
  }

  .mobile__button {
    border: 1px solid white;
    background-color: transparent;
    color: #b6bcbf;
    padding: 0;
    width: 100%;
    margin: auto;
    justify-self: center;
    line-height: 50px;
    border-radius: 100px;
  }

  .mobile__button_bg-white {
    border: 1px solid black;
    color: #1a1b22;
  }

  .mobile__button-icon {
    background-image: url("../../images/log-out_icon.svg");
    width: 17px;
    height: 17px;
    padding-left: 45px;
    background-position: center;
    background-size: 100% 100%;
  }

  .mobile__button-icon_bg-white {
    background-image: url("../../images/log-out_sign-bg-white.svg");
  }

  .mobile__button:hover {
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }

  .mobile__close-btn:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  .mobile__close-icon {
    width: 36px;
    color: black;
  }

  .mobile__redirect {
    align-self: center;
  }

  .mobile__redirect-button {
    background-color: transparent;
    border: none;
    padding: 0;
    color: #2f71e5;
  }

  @media screen and (max-width: 600px) {
    .mobile__close-btn {
      top: -35px;
      right: 0;
    }

    .mobile__close-icon {
      width: 19px;
    }
  }

  .mobile__close-btn {
    top: -31px;
  }

  .mobile__close-icon {
    width: 18px;
  }
}
